*{
    background-color: #fefefe;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .nameBox{
        border: 2px solid#c8c8c8;
        max-width: fit-content;
        padding: 0.5rem 4rem;
        line-height: 3.3rem;

        .firstName{
            letter-spacing: .7rem;
            font-weight: 300;
            font-size: 2.3rem;
        }

        .lastName{
            font-size: 5.3rem;
            font-weight: 700;
        }

        .titleBox{
            margin-top: 2rem;
            .role{
                text-align: center;
                font-size: smaller;
            }
        }
    }
}
