*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fefefe;
}

body{
    margin: auto;
    font-family: 'Inter', sans-serif;
    padding: 10rem 0rem;
    background-color: #151515;
    // border: 1px solid red;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1000px) {
        padding: 6rem 0;
    }

    

    a{
        text-decoration: none;
    }

    h1{
        font-size: 2.5rem;
        font-weight: 600;

        @media only screen and (min-width: 450px) {
            font-size: 3.2rem;
            font-weight: 700;
        }

        @media only screen and (min-width: 520px) {
            font-size: 3.8rem;
            font-weight: 700;
        }

        @media only screen and (min-width: 650px) {
            font-size: 4.8rem;
            font-weight: 700;
        }

    }

    .main{
        width: 100%;
        // border: 1px solid red;
        max-width: 90rem;

        @media only screen and (min-width: 1134px) {
            display: flex;
            justify-content: space-between;
        }

        .boxes{
            // border: 1px solid yellow;
        }

        .projects-text{
            font-weight: 700;
            font-size: 1rem;
            padding: 1.5rem;

            @media only screen and (min-width: 1134px) {
                display: none;
            }
        }

        #profile-box{
            padding: .8rem;
            width: 100%;

            @media only screen and (min-width: 1134px) {
                max-width: 40rem;
            }

            .nameBox{
                margin-bottom: 2rem;

                h1{
                    line-height: 3rem;

                    @media only screen and (min-width: 520px) {
                        line-height: 3.8rem;
                    }

                    @media only screen and (min-width: 650px) {
                        line-height: 4.4rem;
                    }
                }
            }

            .roleBox{
                // color: #606060;
                font-size: 0.8rem;
                line-height: 1.5rem;

                p{
                    color:#cecdd0;
                }
            }

            .links{
                margin-top: 3rem;

                a{
                    padding-right: 2.5rem;
                }

                img{
                    height: 13px;
                }
            }


        }

        #project-box{

            @media only screen and (max-width: 1000px) {
                padding: 0rem .8rem 0 .8rem;
            }

            @media only screen and (min-width: 1000px) {
                min-width: 35rem;
            }

            #mid-pboxes{
                margin: 0.4rem 0;
            }

            .pboxes{
                padding: 1.5rem;
                background-color: #212023;

                .header-box{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .pboxes-header {
                    color: #cecdd0;
                    font-size: .7rem;
                    margin-bottom: .5rem;
                }

                .pboxes-star{
                    color: #cecdd0;
                    font-size: .6rem;
                    // margin-bottom: .5rem 0;
                    padding: 0.7rem 0;
                    // padding-bottom: rem;
                    display: flex;
                    align-items: center;
                    img{
                        padding-right: 0.3rem;
                        height: 10px;
                    }
                }

                h2{
                    font-weight: 500;
                    color: #e6e6e8;
                    margin-bottom: .4rem;
                }

                .pboxes-description{
                    font-size: .7rem;
                    color: #bebebe;
                    margin-bottom: .6rem;
                }

                .pboxes-header{
                    color: #cecdd0;
                }
            }
        }
    }

}

